<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!-- Define the appenders -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <!-- File Appender -->
        <File name="FileAppender" fileName="applogs/application_logs.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <!-- Define the loggers -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="trace">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
        <!-- Logger for specific package -->
        <Logger name="com.example.myapp" level="debug">
            <AppenderRef ref="FileAppender" />
        </Logger>
    </Loggers>
</Configuration>